<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" id="title" class="form-control" placeholder="..." aria-describedby="helpId" [(ngModel)]="item.title"
      #title="ngModel" name="title" disabled >

  </div>
  <div class="form-group">
    <label for="">Content</label>
    <textarea class="form-control" id="content" rows="3" [(ngModel)]="item.content" #content="ngModel" name="content"
    disabled ></textarea>

  </div>
  <div class="form-group">
    <label for="">Note</label>
    <input type="text" id="note" class="form-control" placeholder="..." [(ngModel)]="item.note" #note="ngModel" name="note" disabled>
  </div>
  <div class="form-group">
    <label for="">Status</label>
    <div class="col-sm-3 col-md-3">
      <state-selector name="state" [(ngModel)]="item.status" #state="ngModel" aria-disabled="true"></state-selector>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>