.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .nav-item > a {
    color: #999999;
}

.navbar .nav-item > a:hover {
    color: #ffffff;
}

.navbar a {
    margin-left: 50px;
}

.navbar ul {
    
    margin-left: 1100px ;
}