<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>ABOUT US</h2>
        <img src="assets/images/courses-image1.jpg" alt="" class="img-fluid" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
          libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h2>Template built with Twitter Bootstrap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
          libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
            libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar
            tincidunt leo consectetur eget.
            Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget.
            Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia
            pellentesque </p>
      </div>
    </div>
  </div>
</section>