<div class="container">
  <h1 class="form-heading">login Form</h1>
  <div class="login-form">
    <div class="main-form">
      <div class="panel">
        <h2>Admin Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form action="" id="login">
        <div class="form-group">
          <input type="text" class="form-control" name="email_Username" id="email_Username" aria-describedby="helpId"
            placeholder="Email or Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password_login" aria-describedby="helpId"
            placeholder="Password">
        </div>
        <div class="forgot">
          <a href="">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    </form>
  </div>
</div>
</div>