<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <p>Hello, {{name}}!</p> -->
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" name="" id="" class="form-control" placeholder="..." aria-describedby="helpId" [(ngModal)]="item[title]">
    <small id="helpId" class="text-muted"></small>
  </div>
  <div class="form-group">
    <label for="">Content</label>
    <textarea class="form-control" name="content" id="" rows="3" [(ngModal)]="item[content]"></textarea>
  </div>
  <div class="form-group">
    <label for="">Note</label>
    <input type="text" name="" id="" class="form-control" placeholder="..." [(ngModal)]="item[note]">
  </div>
  <div class="form-group">
    <label for="">Status</label>
    <div class="col-sm-3 col-md-3">
      <section class="form-control" [(ngModal)]="item[status]">
        <option *ngFor="let option of options" [(ngValue)]="option[value]">{{option.label}}</option>
      </section>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>