<section id="home">
    <div class="">
        <div class="home-slider">
            <ngb-carousel *ngIf="images">
                <div class="item">
                    <div class="caption">
                        <div class="container">
                            <ng-template ngbSlide class="item">
                                <img [src]="images[0]" alt="Random first slide" class="w-100">
                                <div class="carousel-caption">
                                    <h3>10 seconds between slides...</h3>
                                    <p>This carousel uses customized default values.</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="caption">
                        <div class="container">
                            <ng-template ngbSlide class="item">
                                <img [src]="images[1]" alt="Random first slide" class="w-100">
                                <div class="carousel-caption">
                                    <h3>No mouse events...</h3>
                                    <p>This carousel doesn't pause or resume on mouse events</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="caption">
                        <div class="container">
                            <ng-template ngbSlide class="item">
                                <img [src]="images[2]" alt="Random first slide" class="w-100">
                                <div class="carousel-caption">
                                    <h3>No keyboard...</h3>
                                    <p>This carousel uses customized default values.</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="caption">
                        <div class="container">
                            <ng-template ngbSlide class="item">
                                <img [src]="images[3]" alt="Random first slide" class="w-100">
                                <div class="carousel-caption">
                                    <h3>And no wrap after last slide.</h3>
                                    <p>This carousel uses customized default values.</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ngb-carousel>
        </div>
    </div>
</section>