<section id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Our Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'owl-carousel']">
          <div class="item" *ngFor="let image of myCarouselImages;let i = index">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src={{image}} /></a>

                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" (click)="projectDetail()">
                      <h4>Business City</h4>
                      <span>Web Development</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>