<!-- FEATURE -->
<section id="features" class="site-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Our <span>Services</span></h3>
      </div>
    </div>
  </div>
<!-- single feature -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-md-12">
            <div class="feature-text">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam</p>
              <button type="button" class="readmore" (click)="readmore()">Read More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
         
          <div class="col-md-12">
            <div class="feature-text">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam</p>
                <button type="button" class="readmore" (click)="readmore()">Read More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
         
          <div class="col-md-12">
            <div class="feature-text">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam</p>
                <button type="button" class="readmore" (click)="readmore()">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- single feature -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">         
          <div class="col-md-12">
            <div class="feature-text">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam</p>
                <button type="button" class="readmore" (click)="readmore()">Read More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
        
          <div class="col-md-12">
            <div class="feature-text">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam</p>
                <button type="button" class="readmore" (click)="readmore()">Read More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
         
          <div class="col-md-12">
            <div class="feature-text">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam</p>
                <button type="button" class="readmore" (click)="readmore()">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>